html {
    background: url('https://cdn.pixabay.com/photo/2020/09/09/08/20/cat-5556938_960_720.jpg');
    }
    
h3 {
    margin: 25px;
    padding: 0px;
}
body {
    width: 62%;
  	height: 80%;
    margin: 0px auto;
    background: rgb(210, 105, 30);
    padding:1px 10px;
    text-align:center;
}
 
.page-title  {
    font-size:350%;
    text-align: left;
    margin:10px 5px;
}
.header-container {
    text-align: left;
    border-bottom: 1px solid #000000;
    position: relative;
    background:rgb(222, 184, 135);
    color: rgb(0, 0, 0);
}
.header-container .header-bar  {
    position: absolute;
    right: 20px;
    bottom: 14px;
}
.header-container .header-bar  a  {
    color: #000000;
    font-size: 110%;
}
 
.footer-container {
    text-align: center;
    margin-top: 15%;
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #000000;
}
.menu-container {
    text-align: right;
    margin: 20px 15px;
}
.menu-container a {
    margin: 5px 10px 5px 10px;
    color: #004d99;
    font-weight: bold;
    text-decoration: none;
}
 
.site-name {
    font-size:200%;
    margin:10px 10px 10px 5px;
    padding: 15px;
}
 
.container  {
    margin: 5px 0px;
}
 
.demo-container, .login-container, .account-container {
    padding: 5px;
    border: 2px solid #000000;
    text-align:center;
    margin:50px 415px;
}
 
.customer-info-container {
    text-align: left;
    border: 1px solid #ccc;
    padding: 0px 5px;
}
.product-preview-container {
    border: 2px solid #000000;
    border-radius: 12px;
    padding: 5px;
    width: 200px;
    margin: 10px ;
    display: inline-block;
    text-align:left;
}
 
.product-preview-container input {
    width: 50px;
}
 
 
.product-image {
    width: 120px;
    height: 80px;
}
 
ul-1 {
    list-style-type: "\1F449";
    padding-left: 15px;
    margin:5px;
}

ul-2 {
    list-style-type: disc;
    padding-left: 15px;
    margin:5px;
}

ul-3 {
    list-style-type: none;
    padding-left: 15px;
    margin:5px;
}
 
 
.navi-item {
    margin: 5px 5px 5px 15px;
}
 
.button-update-sc {
    color: #111;
    margin: 5px 5px 5px 20px;
}
 
.button-send-sc {
    color: red;
    margin: 5px 5px 5px 20px;
}
 
.error-message {
    font-size: 90%;
    color: red;
    font-style: italic;
}
 
.price {
    color: #FFFAFA;
    font-weight: bold;
}
 
.subtotal {
    color: 	#00FF00;
    font-weight: bolder;
}
 
.total {
    color: #98FB98;
    font-weight: bold;
    font-size: 120%;
}
 
table td {
    padding: 5px;
}
.button-1 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover {
  background-color: #fff;
}

.button-1:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-1 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.button-2 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: underline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:hover {
  background-color: #fff;
}

.button-2:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-2 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.button-3 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-3:active,
.button-3:focus {
  outline: none;
}

.button-3:hover {
  background-position: -20px -20px;
}

.button-3:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}