<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pet Shop Online</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">Home Page</div>
	<div class="demo-container">
		<h1>About Us</h1>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
			do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Interdum velit laoreet id donec ultrices tincidunt. At volutpat diam
			ut venenatis tellus in metus vulputate. Tincidunt nunc pulvinar
			sapien et ligula. Nunc non blandit massa enim nec dui nunc mattis
			enim. Sit amet facilisis magna etiam tempor orci eu. Ipsum dolor sit
			amet consectetur. Vel eros donec ac odio tempor orci dapibus ultrices
			in. Sodales ut eu sem integer. Dignissim convallis aenean et tortor
			at risus viverra.Et malesuada fames ac turpis egestas. Nullam eget
			felis eget nunc lobortis mattis aliquam faucibus purus. Elementum
			sagittis vitae et leo. Vestibulum lorem sed risus ultricies tristique
			nulla aliquet enim. Arcu dictum varius duis at consectetur lorem
			donec. Pellentesque habitant morbi tristique senectus. Vel quam
			elementum pulvinar etiam non quam lacus. Quam viverra orci sagittis
			eu volutpat odio facilisis mauris. Pharetra convallis posuere morbi
			leo urna molestie. Amet massa vitae tortor condimentum lacinia.
			Convallis convallis tellus id interdum velit.</h3>
	</div>

	<th:block th:include="/_footer"></th:block>

</body>
</html>